# Module 3: Data Structures Assignments
## Lesson 3.4: Dictionaries
### Assignment 1: Creating and Accessing Dictionaries

Create a dictionary with the first 10 positive integers as keys and their squares as values. Print the dictionary.

In [7]:
dict1={i : i*i for i in range(1,11)}
print(dict1)
dict2={1:1,2:4,3:9}
print(dict2)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}
{1: 1, 2: 4, 3: 9}



### Assignment 2: Accessing Dictionary Elements

Print the value of the key 5 and the keys of the dictionary created in Assignment 1.

In [9]:
print(dict1[5])
print(dict1.keys())

25
dict_keys([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])


### Assignment 3: Dictionary Methods

Add a new key-value pair (11, 121) to the dictionary created in Assignment 1 and then remove the key-value pair with key 1. Print the modified dictionary.

In [16]:
dict1[11]=121
print(dict1)
dict1.pop[1]
print(dict1)

{2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121}

TypeError: 'builtin_function_or_method' object is not subscriptable


### Assignment 4: Iterating Over Dictionaries

Iterate over the dictionary created in Assignment 1 and print each key-value pair.

In [23]:
print(dict1.items())
###      or
for keys , values in dict1.items():
 print(f"{keys},{values}")

dict_items([(2, 4), (3, 9), (4, 16), (5, 25), (6, 36), (7, 49), (8, 64), (9, 81), (10, 100), (11, 121)])
2,4
3,9
4,16
5,25
6,36
7,49
8,64
9,81
10,100
11,121


### Assignment 5: Dictionary Comprehensions

Create a new dictionary containing the cubes of the first 10 positive integers using a dictionary comprehension. Print the new dictionary.

In [19]:
dict3={i:i**3 for i in range(1,11)}
print(dict3)

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729, 10: 1000}


### Assignment 6: Merging Dictionaries

Create two dictionaries: one with keys as the first 5 positive integers and values as their squares, and another with keys as the next 5 positive integers and values as their squares. Merge these dictionaries into a single dictionary and print it.

In [21]:
d1={i:i**2 for i in range(1,6)}
d2={i:i**2 for i in range(6,11)}
d1.update(d2)
print(d1)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}


### Assignment 7: Nested Dictionaries

Create a nested dictionary representing a student with keys 'name', 'age', 'grades', where 'grades' is another dictionary with keys 'math', 'science', and 'english'. Print the nested dictionary.

In [24]:
nested_dict={"name":"pankaj","age":21,"grade":{"maths":54,"science":58,"english":78}}
print(nested_dict)

{'name': 'pankaj', 'age': 21, 'grade': {'maths': 54, 'science': 58, 'english': 78}}


### Assignment 8: Dictionary of Lists

Create a dictionary where the keys are the first 5 positive integers and the values are lists containing the first 5 multiples of the key. Print the dictionary.

In [28]:
d1={j:[j*i for i in range(1,6)] for j in range(1,6)}
print(d1)

{1: [1, 2, 3, 4, 5], 2: [2, 4, 6, 8, 10], 3: [3, 6, 9, 12, 15], 4: [4, 8, 12, 16, 20], 5: [5, 10, 15, 20, 25]}


### Assignment 9: Dictionary of Tuples

Create a dictionary where the keys are the first 5 positive integers and the values are tuples containing the key and its square. Print the dictionary.

In [35]:
d2={i:(i,i**2 ) for i in range(1,6)}
print(d2)

{1: (1, 1), 2: (2, 4), 3: (3, 9), 4: (4, 16), 5: (5, 25)}


### Assignment 10: Dictionary and List Conversion

Create a dictionary with the first 5 positive integers as keys and their squares as values. Convert the dictionary to a list of tuples and print it.

In [44]:
d1={i:i**2 for i in range(1,6)}
print(d1)
list_of_tuple=list(d1.items())## converting into list of tuple
print(list_of_tuple)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}
[(1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]


### Assignment 11: Dictionary Filtering

Create a dictionary with the first 10 positive integers as keys and their squares as values. Create a new dictionary containing only the key-value pairs where the key is even. Print the new dictionary.

In [49]:
print({i:i**2 for i in range(1,11)})
d1={i:i**2 for i in range(1,11) if i%2==0}
print(d1)
## or
d2={i:i**2 for i in range(1,11) }
print(d2)
even_dict={k:v for k,v in d2.items() if k%2==0}
print(even_dict)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}
{2: 4, 4: 16, 6: 36, 8: 64, 10: 100}
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}
{2: 4, 4: 16, 6: 36, 8: 64, 10: 100}


### Assignment 12: Dictionary Key and Value Transformation

Create a dictionary with the first 5 positive integers as keys and their squares as values. Create a new dictionary with keys and values swapped. Print the new dictionary.

In [53]:
d1={i:i**2 for i in range(1,6) }
print(d1)
swapped_dict={ v:k for k,v in d1.items()} ## keys values are swapped
print(swapped_dict)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}
{1: 1, 4: 2, 9: 3, 16: 4, 25: 5}


### Assignment 13: Default Dictionary

Create a default dictionary where each key has a default value of an empty list. Add some elements to the lists and print the dictionary.

In [55]:
from collections import defaultdict ## in built function to create dict with values as the empty list

default_dict = defaultdict(list)
default_dict['a'].append(1)
default_dict['a'].append(2)
default_dict['b'].append(3)
print(default_dict)

defaultdict(<class 'list'>, {'a': [1, 2], 'b': [3]})


### Assignment 14: Counting with Dictionaries

Write a function that takes a string and returns a dictionary with the count of each character in the string. Print the dictionary.

In [62]:
def count_chars(s):
    count_dict = {}
    for char in s:
        count_dict[char] = count_dict.get(char, 0) + 1
    return count_dict

string = "hello world"
print(count_chars(string))

{'h': 1, 'e': 1, 'l': 3, 'o': 2, ' ': 1, 'w': 1, 'r': 1, 'd': 1}


### Assignment 15: Dictionary and JSON

Create a dictionary representing a book with keys 'title', 'author', 'year', and 'genre'. Convert the dictionary to a JSON string and print it.

In [65]:
import json
book={"title":"kalam_kar","author":"pankaj","year":2021,"genre":"love"}
book_json=json.dumps(book)
print(book_json)

{"title": "kalam_kar", "author": "pankaj", "year": 2021, "genre": "love"}