# Module 3: Data Structures Assignments
## Lesson 3.3: Sets
### Assignment 1: Creating and Accessing Sets

Create a set with the first 10 positive integers. Print the set.

In [36]:
set1={1,2,3,4,5,6,7,8,9,10}
print(set1)
print(type(set1))

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
<class 'set'>


### Assignment 2: Adding and Removing Elements

Add the number 11 to the set created in Assignment 1. Then remove the number 1 from the set. Print the modified set.

In [37]:
set1.add(11)
##print(set1)
set1.remove(1)
print(set1)

{2, 3, 4, 5, 6, 7, 8, 9, 10, 11}


### Assignment 3: Set Operations

Create two sets: one with the first 5 positive integers and another with the first 5 even integers. Perform and print the results of union, intersection, difference, and symmetric difference operations on these sets.

In [38]:
s1={1,2,3,4,5,10}
s2={6,7,2,8,9,10}
s3=s1.intersection(s2)
print(s3)
s4=s1.union(s2)
print(s4)
s5=s1.difference(s2)##difference contains elements that are in A but not in B.


print(s5)
s6=s1.symmetric_difference(s2)## symmetric_difference contains elements that are in either A or B but not in both
print(s6)

{2, 10}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{1, 3, 4, 5}
{1, 3, 4, 5, 6, 7, 8, 9}


### Assignment 4: Set Comprehensions

Create a new set containing the squares of the first 10 positive integers using a set comprehension. Print the new set.

In [43]:
square={x*x for x in range(1,11)}
print(square)

{64, 1, 4, 36, 100, 9, 16, 49, 81, 25}


### Assignment 5: Filtering Sets

Create a new set containing only the even numbers from the set created in Assignment 1 using a set comprehension. Print the new set.

In [46]:
even_set={x for x in range(1,11) if x%2==0}
print(even_set)

{2, 4, 6, 8, 10}


### Assignment 6: Set Methods

Create a set with duplicate elements and remove the duplicates using set methods. Print the modified set.

In [47]:
dup_set={1,2,2,3,3,3,4,4,4,4}

print(dup_set)## no neeed to use any kind of function becz set it self returns only unique valuse

{1, 2, 3, 4}


### Assignment 7: Subsets and Supersets

Create two sets: one with the first 5 positive integers and another with the first 3 positive integers. Check if the second set is a subset of the first set and if the first set is a superset of the second set. Print the results.

In [58]:
s1={1,2,3,4,5}
s2={1,2,3}
t_f=s2.issubset(s1) ## yes  s2  is subset of s1
print(t_f)
f_t=s1.issuperset(s2) ## yes s1 is supper set of s1
print(f_t)

True
True


### Assignment 8: Frozenset

Create a frozenset with the first 5 positive integers. Print the frozenset.

In [67]:
s2=frozenset(s1) ## once created element can be uodated or changed
print(s2)
tup=(1,2,3,4,5)
frozenset(tup) ## by defoult tuple can not support the updaton or adding up elements being imutable

## s2.add(111)### returns error

frozenset({1, 2, 3, 4, 5})

frozenset({1, 2, 3, 4, 5})


### Assignment 9: Set and List Conversion

Create a set with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a set. Print the resulting set.

In [86]:
s1={1,2,3,4,5}
lst=list(s1)## convert to list
lst.append(6)
print(lst)
s1=set(lst)## list converted to the set
print(s1)

[1, 2, 3, 4, 5, 6]
{1, 2, 3, 4, 5, 6}


### Assignment 10: Set and Dictionary

Create a dictionary with set keys and integer values. Print the dictionary.

In [90]:
d1={frozenset({"s1"}):1,frozenset({"s2"}):2,frozenset({"s3"}):3}
print(d1)## having key as set and values as the integer

{frozenset({'s1'}): 1, frozenset({'s2'}): 2, frozenset({'s3'}): 3}


### Assignment 11: Iterating Over Sets

Create a set and iterate over the elements, printing each element.

In [92]:
s1={1,2,3,4,5,6}
for s in s1:
    print(s)

1
2
3
4
5
6


### Assignment 12: Removing Elements from Sets

Create a set and remove elements from it until it is empty. Print the set after each removal.

In [103]:
s1=set(range(1,6))
"""print(s1)
s1.remove(1)
print(s1)
s1.remove(2)
print(s1)
s1.remove(3)
print(s1)
s1.remove(4)
print(s1)
s1.remove(5)
print(s1)
"""

while s1:
    s1.pop()
    print(s1)

{2, 3, 4, 5}
{3, 4, 5}
{4, 5}
{5}
set()


### Assignment 13: Set Symmetric Difference Update

Create two sets and update the first set with the symmetric difference of the two sets. Print the modified first set.

In [98]:
s1={1,2,3,4}
s2={5,4,3,2}
s1.symmetric_difference_update(s2)## complete function to remove and update
print(s1)
##print(s3)

{1, 5}


### Assignment 14: Set Membership Testing

Create a set and test if certain elements are present in the set. Print the results.

In [105]:
s1={1,2,3,4,5}
print(3 in s1)## for membership test the in operator is used
print(8 in s1)

True
False


### Assignment 15: Set of Tuples

Create a set containing tuples, where each tuple contains two elements. Print the set.

In [106]:
s1={(1,2),(3,4),(5,6)}
print(s1)

{(1, 2), (3, 4), (5, 6)}