# Module 3: Data Structures Assignments
## Lesson 3.2: Tuples
### Assignment 1: Creating and Accessing Tuples

Create a tuple with the first 10 positive integers. Print the tuple.

In [6]:

# tup=(x for x in range(0,10)) ## this does not works
tup=(0,1,2,3,4,5,6,7,8,9,10)  # imutable ordered collections

print(tup)
type(tup)

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

tuple




### Assignment 2: Accessing Tuple Elements

Print the first, middle, and last elements of the tuple created in Assignment 1.

In [7]:
print(tup[0])
print(tup[5])
print(tup[-1])

0
5
10


### Assignment 3: Tuple Slicing

Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

In [13]:
print(tup[0:3])
print(tup[-3:]) ## last three elemets
print(tup[2:5])

(0, 1, 2)
(8, 9, 10)
(2, 3, 4)


### Assignment 4: Nested Tuples

Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

In [17]:
tup=(
    (1,2,3),
    (4,5,6),
    (7,8,9)
)
for subtup in tup:
    print(subtup)
print(tup[1][2])

(1, 2, 3)
(4, 5, 6)
(7, 8, 9)
6


### Assignment 5: Tuple Concatenation

Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

In [18]:
tup1=(1, 2, 3) 
tup2=(4, 5, 6)
print(tup1+tup2)

(1, 2, 3, 4, 5, 6)


### Assignment 6: Tuple Methods

Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

In [30]:
tup=(1,2,2,2,3,3,3,4,4,4,4)
n=tup.count(2)
print(f"occurence of 2 is {n}")
print(f"index of first occurence of 2 is  ", tup.index(2))

occurence of 2 is 3
index of first occurence of 2 is   1


### Assignment 7: Unpacking Tuples

Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

In [31]:
tup=(1,2,3,4,5)
a,b,c,d,e=tup
print(a,b,c,d,e)

1 2 3 4 5


### Assignment 8: Tuple Conversion

Convert a list of the first 5 positive integers to a tuple. Print the tuple.

In [33]:
lst=[1,2,3,4,5]
tup=tuple(lst)
print(tup)

(1, 2, 3, 4, 5)


### Assignment 9: Tuple of Tuples

Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

In [34]:
tup=(
    (1,2,3),
    (4,5,6),
    (7,8,9)
)
print(tup[0]) # 2

(1, 2, 3)


### Assignment 10: Tuple and List

Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

In [38]:
# as the tuple is imutable so if we need to update any elements so we to convert the tuple into  list bcz it is mutable
# and then update the list and then convert it back to tuple
tup=(1,2,3)
lst=list(tup)
print(lst) # before update
lst[1]=5
print(lst) # after update

[1, 2, 3]
[1, 5, 3]


### Assignment 11: Tuple and String

Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

In [48]:
string= "hello"
tup=tuple(string)
print(tup)
tup= ''.join(tup)##  ''.join very important function to join the char also used to reversed the string in joining bcz the reversed return the char in reversed order
print(tup)

('h', 'e', 'l', 'l', 'o')
hello


### Assignment 12: Tuple and Dictionary

Create a dictionary with tuple keys and integer values. Print the dictionary.

In [49]:
dic={(1):4} # here the tuple works as the key
print(dic)

{1: 4}


### Assignment 13: Nested Tuple Iteration

Create a nested tuple and iterate over the elements, printing each element.

In [50]:
nested_tup=((1,2,3),(4,5,6),(7,8,9))
print(nested_tup) # nested tuple
for subtup in nested_tup:
    for item in subtup:
        print(item) ## printing each elements

((1, 2, 3), (4, 5, 6), (7, 8, 9))
1
2
3
4
5
6
7
8
9


### Assignment 14: Tuple and Set

Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

In [51]:
tup=(1,2,2,2,3,3,3,3)
unique_only=set(tup)
print(unique_only)

{1, 2, 3}


### Assignment 15: Tuple Functions

Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

In [52]:
def min_Max_Sum(tuple):
    return(min(tuple),max(tuple),sum(tuple)) # note tuple supports direct function for this task
print(min_Max_Sum((1,2,3,4,5,6,7,)))

(1, 7, 28)